<?xml version="1.0"?>
<RouteAddSettings>
	<Video start="2024-06-01T09:15:06Z" />
	<Images>
		<Image name="map">C:\Users\45503\Videos\cam\2024_06_01\a1.png</Image>
		<Image name="logo">C:\Users\45503\Videos\cam\amok_t.png</Image>
		<Image name="poiner">C:\Users\45503\Downloads\pointer.png</Image>
	</Images>
	<Paths>
		<Path name="main">C:\Users\45503\Videos\cam\2024_06_01\a1_data.xml</Path>
	</Paths>
	<Panes>
		<Pane type="image" name="logo" x="2420" y="20" w="222" h="210" opaq="100">
			<Start>00:00</Start>
			<End>00:00</End>
			<Image>logo</Image>
		</Pane>
		<Pane type="leg" name="leg" x="0" y="450" w="500" h="1000" opaq="100">
			<Start>00:00</Start>
			<End>00:00</End>
			<Image>map</Image>
			<Path>main</Path>
			<Margins>30</Margins>
			<TailWidth>8</TailWidth>
			<TailColor>60ff0000</TailColor>
		</Pane>
		<Pane type="pos" name="pos" x="2366" y="1200" w="300" h="300" opaq="100">
			<Start>00:00</Start>
			<End>00:00</End>
			<Image>map</Image>
			<Path>main</Path>
			<Pointer>pointer</Pointer>
			<PointerOpaque>50</PointerOpaque>
			<Tail>01:00</Tail>
			<TailWidth>8</TailWidth>
			<TailColor>60ff0000</TailColor>
		</Pane>
		<Pane type="text" name="time" x="0" y="0" w="200" h="30">
			<Start>00:00</Start>
			<End>00:00</End>
			<FillColor>80505050</FillColor>
			<FontName>Arial</FontName>
			<FontColor>ffffffff</FontColor>
			<FontSize>16</FontSize>
			<Align>Left</Align>
			<TextType>Time</TextType>
			<Value>main</Value>
		</Pane>
		<Pane type="text" name="pace" x="0" y="30" w="200" h="30">
			<Start>00:00</Start>
			<End>00:00</End>
			<FillColor>80505050</FillColor>
			<FontName>Arial</FontName>
			<FontColor>ffffffff</FontColor>
			<FontSize>16</FontSize>
			<Align>Left</Align>
			<TextType>Pace</TextType>
			<Value>main</Value>
		</Pane>
		<Pane type="text" name="hr" x="0" y="60" w="200" h="30">
			<Start>00:00</Start>
			<End>00:00</End>
			<FillColor>80505050</FillColor>
			<FontName>Arial</FontName>
			<FontColor>ffffffff</FontColor>
			<FontSize>16</FontSize>
			<Align>Left</Align>
			<TextType>HR</TextType>
			<Value>main</Value>
		</Pane>
		<Pane type="text" name="comment_1" x="300" y="600" w="600" h="100" opaq="100">
			<Start>01:00</Start>
			<End>01:10</End>
			<FillColor>80505050</FillColor>
			<FontName>Arial</FontName>
			<FontColor>ffffffff</FontColor>
			<FontSize>16</FontSize>
			<Align>Center</Align>
			<TextType>Comment</TextType>
			<Value>Hi!</Value>
		</Pane>
	</Panes>
</RouteAddSettings>
